<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-center">
    <div
      class="col-12 col-sm-8 col-lg-6 bg-white shadow py-3 px-4 m-3"
      style="border-radius: 15px"
    >
      <div class="row d-flex justify-content-center align-items-center">
        <div
          class="col-12 col-lg-6 pt-4 justify-content-center align-items-center"
        >
          <div class="text-center">
            <p>
              Este es el panel de servicios, aquí puedes ver todos los servicios
              que están en proceso o ya fueron finalizados
            </p>
          </div>
        </div>
        <div
          class="col-6 justify-content-center align-items-center d-none d-lg-flex"
        >
          <img
            src="../../../../assets/supervision.png"
            alt="img"
            style="width: 180px; border-radius: 10px"
          />
        </div>
      </div>
      <hr class="m-2" />
      <div class="row d-flex justify-content-center align-items-center">
        <app-item-service
          class="col-12"
          *ngFor="let service of services"
          [service]="service"
          [context]="5"
          (ServiceEventV)="SelectServiceVoucher($event)"
          (ServiceEventP)="SelectServiceProceso($event)"
          (ServiceEventR)="SelectServiceReport($event)"
        ></app-item-service>
      </div>
    </div>
  </div>
</div>
