<div *ngIf="User" class="container-fluid">
  <div class="row d flex justify-content-center align-items-center">
    <div
      class="card col-sm-10 col-lg-6 col-sm-6 bg-white shadow py-3 px-4 m-3"
      style="border-radius: 15px"
    >
      <div class="card-body p-4">
        <div class="d-flex text-black">
          <div class="flex-shrink-0 d-none d-sm-flex">
            <img
              src="../../../../assets/avatar.svg"
              class="img-fluid"
              alt="img"
              style="width: 180px; border-radius: 10px"
            />
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="mb-1">{{ this.User.name }} {{ this.title }}</h5>
            <p class="mb-2 pb-1" style="color: #2b2a2a">
              {{ this.User.email }} - {{ this.User.phone }}
            </p>
            <div
              class="d-flex justify-content-around rounded-3 p-2 mb-2 text-center"
              style="background-color: #efefef"
            >
              <div>
                <p class="small text-muted mb-1">Servicios</p>
                <p class="mb-0">{{ this.services }}</p>
              </div>
              <div>
                <p class="small text-muted mb-1">Calificación</p>
                <div class="d-flex align-items-center justify-content-around">
                  <p-rating
                    [(ngModel)]="calification"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                  <h6 class="p-1">{{ calification | number : "1.1-1" }}</h6>
                </div>
              </div>
            </div>
            <div *ngIf="context <= 2" class="d-flex pt-1">
              <button
                type="button"
                [ngClass]="{
                  ' btn-outline-primary': this.context === 1,
                  ' btn-outline-primary-worker': this.context === 2
                }"
                class="btn me-1 flex-grow-1"
              >
                Servicios
              </button>
              <button
                type="button"
                [ngClass]="{
                  ' btn-primary': this.context === 1,
                  ' btn-primary-worker': this.context === 2
                }"
                class="btn flex-grow-1"
                routerLink="/user/update"
              >
                Editar Perfil
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
