// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */
$primary-client: rgb(235, 135, 135);
$primary-worker: rgb(42, 65, 194);
$secondary: rgb(51, 122, 10);
$danger: #ff4136;

$theme-colors: (
  "primary": $primary-client,
  "primary-worker": $primary-worker,
  "danger": $danger,
  "secondary":$secondary

);
// Create your own map
$custom-colors: (
  "custom-color": #900
);
ul {
  list-style: none;
}

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";



